/*-------------------------------------------*/
/* コンテンツ推奨サイズより大きい場合
/*-------------------------------------------*/

#headerTop #site-description	{ line-height:150%;font-size:12px;}
#header #site-title	{ padding-bottom:15px;float:left;}
#header #headContact	{ float:right; text-align:right; }
#header #headContact #headContactTxt	{ font-size:11px;}
#header #headContact #headContactTime	{ font-size:12px;}
#header #headContact #headContactTel	{ font-size:24px;margin-bottom:4px; }

#gMenu .menu li li li a,
#gMenu .menu li:hover li li a{ background-image:none; padding-left:15px; }

#main #container	{ padding-top:20px;}
#main #container #content	{ margin:0px auto; }
#content p	{ line-height:170%; }
#content .mainFootContact p.mainFootTxt	{ float:left; margin-bottom:0px;  text-align:left; }
#content .mainFootContact p.mainFootTxt .mainFootCatch	{font-size:120%;}
#content .mainFootContact .mainFootBt	{ float:right; }
#content .mainFootContact .mainFootBt a	{ width:350px;min-height:50px; }
#content .mainFootContact .mainFootBt a img	{ width:auto; }
#content table.mobile-block th,
#content table.mobile-block td { display: table-cell; }

#topMainBnr { padding:15px 0; }

#topPr { display:block; overflow:hidden; margin-bottom:25px; }
#topPr .topPrOuter	{ padding-bottom:0px;border-bottom:none;}
#topPr #topPrLeft 	{ width:33.1%; text-align:left; float:left;display:block; overflow:visible; }
#topPr #topPrCenter { width:33.1%; text-align:center;float:left;display:block; overflow:visible; }
#topPr #topPrRight 	{ width:33.1%; text-align:right;float:right; display:block; overflow:visible; }
#topPr #topPrLeft .topPrInner 	{ float:left; }
#topPr #topPrCenter .topPrInner	{ margin:0px auto;}
#topPr #topPrRight .topPrInner	{ float:right; }
#topPr .topPrInner	{text-align:left;width:95%;}
#topPr h3 a	{ display:block; overflow:hidden; }
#topPr .topPrInner p	{ padding:0px; }
#topPr .topPrInner p.topPrDescription	{ font-size:12px; }
#topPr .prImage	{ float:none;width:100%; margin-right:0px; }
#topPr .prImage img { height:auto; }
#topPr .prImage img.imageWide	{ display:block;}
#topPr .prImage img.imageSmall	{ display:none;}

#topPr	{ border-left:1px solid #ccc;margin-bottom:35px; }
#topPr .topPrOuter	{ border-right:1px solid #ccc;margin-bottom:0px; }
#topPr .topPrInner	{ padding:0px 17px; width:auto; }
#topPr #topPrLeft .topPrInner,
#topPr #topPrCenter .topPrInner,
#topPr #topPrRight .topPrInner	{ float:none; }

#content .child_page_block	{ width:48%; }
#content .child_page_block.layout_odd	{ float:left; clear:both; }

/*-------------------------------------------*/
/* pc iPad3より大きい場合
/*-------------------------------------------*/
body     { line-height:150%; }
#gMenu:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#gMenu #gMenuInner.innerBox	{ margin:0px 3%;width:94%;}
#gMenu.itemOpen { border-color: #ccc; }
#gMenu.itemClose .menu,
#gMenu.itemOpen .menu	{ display:block;  }
#gMenu .menu	{ border-left:1px solid #217ec4; border-top:none; }
#gMenu .menu:after	{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#gMenu .assistive-text { position: absolute; top: -9000px; }
#gMenu .menu li { float: left;width:auto;border-bottom:none; overflow:visible; font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif; }
#gMenu .menu li a { text-align:center;border-right:1px solid #217ec4;box-shadow: inset 0 1px 0px rgba(255,255,255,0.4);border-bottom:none; }
#gMenu .menu li a strong	{ color:#FFF; }
#gMenu .menu li a span 		{ margin-top: 3px;padding:0 10px;display:block;font-size:10px; line-height:140%; letter-spacing:1px; font-family:verdana, Arial, Helvetica, sans-serif; color:#666; background-color: #edf3f6;border-radius: 10px; }
#gMenu .menu li a strong{ text-shadow:0 -1px 0 rgba(0,0,0,0.4);}

#gMenu .menu li li	{ background:#fff;border-bottom:1px solid #ccc;position:relative; }
#gMenu .menu li li:last-child{border-bottom:none; }
#gMenu .menu li li a { padding: 15px 15px 13px; }

#gMenu .menu li ul	{ display:none;  margin-top:1px; }
#gMenu .menu li:hover li	{ width:200px;position:relative; }
#gMenu .menu li:hover ul	{ display:block; position:absolute;z-index:100;border-top:1px solid #ccc; position:absolute;width:200px;box-shadow:1px 1px 3px rgba(0,0,0,0.2);opacity:0.97;margin-top:-1px; }

#gMenu .menu li:hover ul li ul	{ position:absolute;left:200px;top:10px; border-top:none;}
#gMenu .menu li:hover ul li ul,
#gMenu .menu li:hover ul li ul li	{ display:none; }
#gMenu .menu li:hover ul li:hover ul,
#gMenu .menu li:hover ul li:hover ul li	{display:block;}
#gMenu .menu li:hover ul li:hover ul { border-top:1px solid #ccc; }

/* 子 */
#gMenu .menu li li a,
#gMenu .menu li:hover li a,
#gMenu .menu li.current_page_item li a,
#gMenu .menu li.current-menu-ancestor li a,
#gMenu .menu li.current-page-ancestor li a,
#gMenu .menu li.current_page_ancestor li a { background:none;background-color:#fff ;color:#4d4d4d;text-align:left;border-right:none;-ms-filter: none;filter: none;}

/* 孫 */
#gMenu .menu li li li a,
#gMenu .menu li:hover li li a,
#gMenu .menu li.current_page_item li li a,
#gMenu .menu li.current-menu-ancestor li li a,
#gMenu .menu li.current-page-ancestor li li a,
#gMenu .menu li.current_page_ancestor li li a { background-color:#fff ;-ms-filter: none;filter: none;}
/* 2階層以降のカレント */
#gMenu .menu li:hover li a:hover,
#gMenu .menu li.current_page_item li a:hover,
#gMenu .menu li.current-menu-ancestor li a:hover,
#gMenu .menu li.current-page-ancestor li a:hover,
#gMenu .menu li.current_page_ancestor li a:hover { background-color:#f5f5f5 ;-ms-filter: none;filter: none;}


#footMenu	{ padding:10px 0px; }
#footMenu .innerBox	{ margin:0px 3%;width:94%; }
#footMenu .menu { margin:0px;padding:0px;border-left:1px solid #666; }
#footMenu .menu li	{ list-style:none;display:block; margin:0px;padding:0;float:left; font-size:12px; }
#footMenu .menu li a	{ padding:0px 15px 0px; line-height:110%; text-decoration:none; border-right:1px solid #666;border-bottom:none;  }
#footMenu .menu li.firstChild a	{ border-left:1px solid #666; }
#footMenu .menu li a:hover	{ text-decoration:underline; background:none; }

#footerSiteMap .menu	{ font-size:12px; }
#footerSiteMap .menu li	{ display:inline-block; }
#footerSiteMap .menu li	a	{ background-position:left 2px;padding:0px 20px 4px 18px; }
#footerSiteMap .menu li	li a	{ background-position:3px 3px;padding:0px 20px 0px 18px;font-size:11px;}
#footerSiteMap .menu li	li li a	{ }
#content form span.wpcf7-form-control-wrap .wpcf7-list-item	{ padding-top:2px; padding-bottom:2px; }
#footerSiteMap .menu li	li li a	{   background-position: 5px 3px; }

#sitemapOuter	{ padding:20px 50px; }
#content #sitemapPageList { float:left;width:49%; }
#content #sitemapPostList { float:right;width:49%;margin-top:0px; }
#content ul.linkList li a	{ padding:3px 15px; }

#main #container #content.wide	{ width:100%; }

/*-------------------------------------------*/
/*	フルサイズ
/*-------------------------------------------*/
.innerBox,
#gMenu #gMenuInner.innerBox	{ width:950px; margin:0px auto; }
#main #container	{ padding-top:30px;}
#main #container #content	{ float:left; width:640px; }
#main #container #sideTower	{ float:right; width:220px; }
body.left-sidebar #main #container #content	{ float:right; }
body.left-sidebar #main #container #sideTower	{ float:left; }

body.home.one-column #main #container #content	{ float:none;width:100%; }
body.home.one-column #main #container #sideTower	{ float:none; display:none; }

form#searchform input#s	{width:120px; }
form#searchform input#searchsubmit	{ width:20%; }

#topMainBnr			{ width:100%; }
#topMainBnr img		{ width:950px !important; }
#topMainBnrFrame	{ width:950px;min-height:250px; }
#topMainBnrFrame .slideFrame img	{ position:relative;left:-4px; }
#topMainBnrFrame .slides img,
#topMainBnrFrame.flexslider .slides img	{ width:950px !important;max-width:950px !important; }

/*			.childPageBox
/*-------------------------------------------*/
#content .childPageBox {
-moz-box-shadow: inset 0 1px 0 #fff;
-webkit-box-shadow: inset 0 1px 0 white;
box-shadow: inset 0 1px 0 white;
}
#content .childPageBox{ margin-top:20px; border:1px solid #e5e5e5; padding:0px;display:block; overflow:hidden; width:638px; margin-bottom:20px;}
#content .childPageBox h4	{ font-weight:lighter;margin:15px 20px 10px; padding:0px 0px 3px; font-size:14px;}
#content .childPageBox h4 a	{ text-decoration:none;color:#666 }
#content .childPageBox ul 	{ margin:0px 20px 15px; padding:0px; display:block; overflow:hidden; font-size:85.7%; line-height:125%;}
#content .childPageBox ul li	{ float:left; display:block; width:33%; list-style:none;margin:0px; }
#content .childPageBox ul li a	{ background:url(../images/icon_arrow1_gray.gif) left 5px no-repeat; padding:3px 5px 3px 17px; text-decoration:none; display:block; overflow:hidden; color:#666;}
#content .childPageBox ul li a:hover,
#content .childPageBox ul li.current_page_item a { background-image:url(../images/icon_arrow1_red.gif); text-decoration:underline;color:#0490f0; }

#content .childPageBox ul li ul	{ margin:0px;font-size:91.7%; }
#content .childPageBox ul li ul li		{ float:none;width:auto; }
#content .childPageBox ul li ul li a	{ background:url(../images/icon_arrow2_gray.gif) left 6px no-repeat; padding:3px 5px 3px 14px; text-decoration:none;margin-left:3px; }
#content .childPageBox ul li ul li a:hover,
#content .childPageBox ul li ul li.current_page_item a { background-image:url(../images/icon_arrow2_pink.gif); }

#content .childPageBox ul li ul li ul	{ padding-left:8px;font-size:100%;line-height:120%;}
#content .childPageBox ul li.current_page_item ul li a	{ color:#666; text-decoration:none;background-image:url(../images/icon_arrow2_gray.gif); }
#content .childPageBox ul li.current_page_item ul li a:hover	{ color:#0490f0; text-decoration:underline;background-image:url(../images/icon_arrow2_red.gif); }

#content .mainFootContact .mainFootBt a img	{ width:100%; }

.sideTower li.sideBnr#sideContact a,
#sideTower li.sideBnr#sideContact a { width:auto; }

#footMenu .innerBox	{ margin:0px auto;width:950px; }

#footerSiteMap	{ width:640px;padding-top:0px; font-size:12px; }
#footer dl#footerOutline	{ float:left; }


/*-------------------------------------------*/
/*	color
/*-------------------------------------------*/
#gMenu	{ background-color:#008FEF;color:#fff; border-top:1px solid #5197d5;border-bottom:1px solid #5197d5;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#61B3FF), to(#008FEF));
	background: -moz-linear-gradient(#61B3FF, #008FEF);
	background: linear-gradient(#61B3FF, #008FEF);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#61B3FF, EndColorStr=#008FEF)";}
#gMenu .current_page_item > a { color:#5197d5; }

#gMenu .menu > li	{ background-color:#008FEF;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#61B3FF), to(#008FEF));
	background: -moz-linear-gradient(#61B3FF, #008FEF);
	background: linear-gradient(#61B3FF, #008FEF);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#61B3FF, EndColorStr=#008FEF)";
}
#gMenu .menu > li.current_page_item a ,
#gMenu .menu > li.current_page_ancestor a ,
#gMenu .menu > li a:hover	{ background-color:#005be9;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#008FEF), to(#005be9));
	background: -moz-linear-gradient(#008FEF, #005be9);
	background: linear-gradient(#008FEF, #005be9);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#008FEF, EndColorStr=#005be9)";
}